 {% extends 'base2.html.twig' %}

{% block body %}
          <h3 class="text-center"></h3>
            <div class="form-group">
              <div class="icon-container">
                <label class="col-sm-2 control-label"  style= "font-size:16px;"for="textinput">Rechercher fiche élève :</label>
                <div class="col-sm-8">
                  <input type="text" onchange="getEtudiant();" placeholder="Rechercher" class="form-control">
                </div>
                <div class="icon"><span class="mdi mdi-search"></span></div><span class="icon-class"></span>
              </div>
            </div>
            <!--Default Tabs-->
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="tab-container">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tous" data-toggle="tab">Tous</a></li>
                    <li ><a href="#Inscrits" data-toggle="tab">Inscrits</a></li>
                    <li><a href="#Enattente" data-toggle="tab">En attente</a></li>
                    <li><a href="#Partis" data-toggle="tab">Partis</a></li>
                    <li><a href="#Radies" data-toggle="tab">Radiés</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="tous" class="tab-pane active cont">
                  <table id="table1" class="table table-striped table-hover table-fw-widget">
                    <thead>
                      <tr>
                        <th>Matricule élève</th>
                        <th>Nom et Prénom</th>
                        <th>Nom et prénm (fr)</th>
                        <th>Date de naissance</th>
                        <th>Genre</th>
                        <th>Niveau scolaire</th>
                        <th>Classe</th>
                        <th>Statut</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for etd in etds %}
                      <tr class="odd gradeX">
                        <td>{{ etd.getMatricule() }}</td>
                        <td>{{ etd.getNom() }} {{ etd.getPrenom() }}</td>
                        <td>{{ etd.getNomfr() }} {{ etd.getPrenomfr() }}</td>
                        <td>{{ etd.getDate()|date('Y-m-d') }}</td>
                        <td>{{ etd.getSex }}</td>
                        <td>{{ etd.getNiveau2() }}</td>
                        <td>{{ etd.getClasse() }}</td>
<<<<<<< HEAD
                        <td>{{ etd.getStatut() }}</td>
=======
                        <td ondblclick="ChangeStatut('CS-{{ etd.getId() }}')" id="CS-{{ etd.getId() }}">{{ etd.getStatut() }}</td>
>>>>>>> d835e4bf48e234f6d1edba8bb55ae50324c50620
                        <td><a href="Ficheselevev3/{{ etd.getId() }}">Fiche eleve</a></td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    </div>
                    <div id="Inscrits" class="tab-pane cont">
                       <table id="table1" class="table table-striped table-hover table-fw-widget">
                    <thead>
                      <tr>
                        <th>Matricule élève</th>
                        <th>Nom et Prénom</th>
                        <th>Nom et prénm (fr)</th>
                        <th>Date de naissance</th>
                        <th>Genre</th>
                        <th>Niveau scolaire</th>
                        <th>Classe</th>
                        <th>Statut</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for etd in etds %}
                        {% if etd.getStatut() == 'Inscrits' %}
                      <tr class="odd gradeX">
                        <td>{{ etd.getMatricule() }}</td>
                        <td>{{ etd.getNom() }} {{ etd.getPrenom() }}</td>
                        <td>{{ etd.getNomfr() }} {{ etd.getPrenomfr() }}</td>
                        <td>{{ etd.getDate()|date('Y-m-d') }}</td>
                        <td>{{ etd.getSex }}</td>
                        <td>{{ etd.getNiveau2() }}</td>
                        <td>{{ etd.getClasse() }}</td>
                        <td>{{ etd.getStatut() }}</td>
                        <td>Fiche élève</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                    </table>
                    </div>
                    <div id="Enattente" class="tab-pane cont">
                       <table id="table1" class="table table-striped table-hover table-fw-widget">
                    <thead>
                      <tr>
                        <th>Matricule élève</th>
                        <th>Nom et Prénom</th>
                        <th>Nom et prénm (fr)</th>
                        <th>Date de naissance</th>
                        <th>Genre</th>
                        <th>Niveau scolaire</th>
                        <th>Classe</th>
                        <th>Statut</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for etd in etds %}
                        {% if etd.getStatut() == 'En attente' %}
                        <tr class="odd gradeX">
                        <td>{{ etd.getMatricule() }}</td>
                        <td>{{ etd.getNom() }} {{ etd.getPrenom() }}</td>
                        <td>{{ etd.getNomfr() }} {{ etd.getPrenomfr() }}</td>
                        <td>{{ etd.getDate()|date('Y-m-d') }}</td>
                        <td>{{ etd.getSex }}</td>
                        <td>{{ etd.getNiveau2() }}</td>
                        <td>{{ etd.getClasse() }}</td>
                        <td>{{ etd.getStatut() }}</td>
                        <td>Fiche élève</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                      </tbody>
                    </table>
                    </div>
                    <div id="Partis" class="tab-pane">
                        <table id="table1" class="table table-striped table-hover table-fw-widget">
                    <thead>
                      <tr>
                        <th>Matricule élève</th>
                        <th>Nom et Prénom</th>
                        <th>Nom et prénm (fr)</th>
                        <th>Date de naissance</th>
                        <th>Genre</th>
                        <th>Niveau scolaire</th>
                        <th>Classe</th>
                        <th>Statut</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for etd in etds %}
                        {% if etd.getStatut() == 'Partis' %}
                        <tr class="odd gradeX">
                        <td>{{ etd.getMatricule() }}</td>
                        <td>{{ etd.getNom() }} {{ etd.getPrenom() }}</td>
                        <td>{{ etd.getNomfr() }} {{ etd.getPrenomfr() }}</td>
                        <td>{{ etd.getDate()|date('Y-m-d') }}</td>
                        <td>{{ etd.getSex }}</td>
                        <td>{{ etd.getNiveau2() }}</td>
                        <td>{{ etd.getClasse() }}</td>
                        <td>{{ etd.getStatut() }}</td>
                        <td>Fiche élève</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                      </tbody>
                    </table>
                    </div>
                        <div id="Radies" class="tab-pane">
                      <table id="table1" class="table table-striped table-hover table-fw-widget">
                    <thead>
                      <tr>
                        <th>Matricule élève</th>
                        <th>Nom et Prénom</th>
                        <th>Nom et prénm (fr)</th>
                        <th>Date de naissance</th>
                        <th>Genre</th>
                        <th>Niveau scolaire</th>
                        <th>Classe</th>
                        <th>Statut</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for etd in etds %}
                        {% if etd.getStatut() == 'Radiés' %}
                      <tr class="odd gradeX">
                        <td>{{ etd.getMatricule() }}</td>
                        <td>{{ etd.getNom() }} {{ etd.getPrenom() }}</td>
                        <td>{{ etd.getNomfr() }} {{ etd.getPrenomfr() }}</td>
                        <td>{{ etd.getDate()|date('Y-m-d') }}</td>
                        <td>{{ etd.getSex }}</td>
                        <td>{{ etd.getNiveau2() }}</td>
                        <td>{{ etd.getClasse() }}</td>
                        <td>{{ etd.getStatut() }}</td>
                        <td>Fiche élève</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                      </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
          <div class="row">
                <label class="col-sm-2 control-label" style="margin-left:30px; font-size:14px;">Imprimer fiches sélectionées</label>
                  <button class="btn btn-rounded btn-space btn-success"> PDF </button>
                <button class="btn btn-rounded btn-space btn-success" > XLS </button>
            

                  <div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="table1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="table1_previous"><a href="#" aria-controls="table1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="table1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="table1_next"><a href="#" aria-controls="table1" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div>
                </div>
                </div>
              </div>
            </div>
 {% endblock %}
 {% block js %}
 <script type="text/javascript">
 function ChangeStatut(id){
  if(document.getElementById(id).innerHTML !== ''){
    var x = "";
    switch(document.getElementById(id).innerHTML){
      case 'Inscrits' :
         x = document.getElementById(id).innerHTML = 'En attente';
        break;
      case 'En attente':
          x = document.getElementById(id).innerHTML = 'Partis';
        break;
      case 'Partis' :
         x = document.getElementById(id).innerHTML = 'Radiés';
        break;
      default :
         x = document.getElementById(id).innerHTML = 'Inscrits';
        break;
    }
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          
        }
    };
    var filename = id.substr(3, id.length );
    filename = filename.concat("/");
    filename = filename.concat(x);
    xhttp.open("GET", filename , true);
    xhttp.send();
    location.reload();
  }
}
</script>
{% endblock %}