{% extends '@EDT/EDT/layout.html.twig' %}
{% block body%}
{% if err is defined %}
{% if err %}
<div role="alert" class="alert alert-warning alert-icon alert-dismissible">
	<div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
	<div class="message">
		<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Champs vides ou aucune matière séléctionnée!!</strong> 
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <strong>tout les champs sont obligatoires veuillez saisie les informations de la salle à nouveau !</strong>.
	</div>
</div>
{% endif %}
{% endif %}
{% if err2 is defined %}
{% if err2 %}
<div role="alert" class="alert alert-warning alert-icon alert-dismissible">
	<div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
	<div class="message">
		<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Carte existe</strong> 
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <strong>les informations que vous avez entrées sont déjà existants dans la table carte.</strong>.
	</div>
</div>
{% endif %}
{% endif %}
<style type="text/css">
	.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.clr{
	width:19%;
	left: -2px;
	display: inline-block;
}

.form-cards{
	text-align: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	line-height: 35px; /* changer par la hauteur */
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.3);
	-webkit-transition: opacity .5s, background .5s;
	transition: opacity .5s, background .5s;
	background-color: rgba(10,10,150,0.99);	
}
{% for carte in cartes %}
#carte-{{ carte.getId() }} {
	background-color: {{ carte.getCouleur() }};
}

#carte-{{ carte.getId() }}:hover {
	opacity: 0.65;
}
{% endfor %}


.form-cards:hover {
	background-color: rgba(35,35,185,0.99);
}

.TextCard{
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.container { width: 100% }
</style>
<div class="row">	
	<div class="col-sm-12">
	  <div class="panel panel-default panel-table">
	    <div class="panel-heading">Création des cartes</div>
	    <div class="panel-body">
	      <form action="#" method="post" novalidate="novalidate">
		      <div class="form-group xs-pt-10">
  	          	<div class="col-sm-4">
	          		<select  class="form-control" name="prof">
	          			<option value="rien" selected="">Choisie un professeur...</option>
	          			{% for prof in profs %}
	          				<option value="{{ prof.getId() }}">{{ prof.getNom() }} {{ prof.getPrenom() }}</option>
	          			{% endfor %}
	          		</select>
	          	</div>
	          	<div class="col-sm-2">
	          		<input id="ColorPicker" type="button" onclick="document.getElementById('modal-wrapper').style.display='block'" class="btn btn-space" style="width:100px; height: 45px; background: cyan">
	          		<input id="ColorPicker2" name="CodeColor" value="lightcyan" style="display: none">
	          	</div>
	          	<div class="col-sm-4">
	          		<select  class="form-control" name="format">
	          			<option value="rien" selected="">Choisie une format...</option>
	          			{% for format in formats %}
	          				<option value="{{ format.getId() }}">{{ format.getNomEdt() }}</option>
	          			{% endfor %}
	          		</select>
	          	</div>
	          	<div class="col-sm-2">
					<button class="btn btn-space btn-success" type="submit" style="width:100px; height: 45px;">Ajouter !</button>
	          	</div>
	          </div>
	          <div class="form-group xs-pt-10" style="width: 99.99%; display: inline-block;">
	        	<div role="alert" class="alert alert-primary alert-icon alert-dismissible">
					<div class="icon"><span class="mdi mdi-info-outline"></span></div>
					<div class="message">
						<button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><strong>Information !</strong> 
						<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <strong>Sélectionnez un enseignant parmi les enseignants existants dans le menu déroulant et sélectionnez les matières enseignés par l'enseignant sélectionné</strong>.
					</div>
				</div>
	          </div>
		      <table class="table table-striped table-borderless">
		        <thead>
		          <tr>
		            <th style="width: 50%;">Matière</th>
		            <th style="width: 40%;">Abréviation</th>
		            <th style="width: 10%;" class="actions">Séléctionner</th>
		          </tr>
		        </thead>
		        <tbody class="no-border-x">
		        	{% for mat in mats %}
			          <tr>
			            <td>{{ mat.getNom() }}</td>
			            <td><input type="text" name="{{ mat.getId() }}" value="{{ mat.getAbreviation() }}" class="form-control"></td>
			            <td class="actions">
				            <div class="be-checkbox be-checkbox-color has-success inline">
	                          <input id="{{ mat.getId() }}" type="checkbox" name="mats[]" value="{{ mat.getId() }}">
	                          <label for="{{ mat.getId() }}" ></label>
	                        </div>
			            </td>
			          </tr>
			        {% endfor %}
		        </tbody>
		      </table>
		  </form>
	    </div>
	  </div>
	</div>
</div>
<div class="row">	
	<div class="col-sm-12">
	  <div class="panel panel-default panel-table">
	    <div class="panel-heading">Gestion des Carte</div>
	    <div class="panel-body">
	      <table class="table table-striped table-borderless">
		        <thead>
		          <tr>
		            <th colspan="4" style="width: 40%;">Information relative à l'enseignant</th>
		            <th colspan="2" style="width: 25%;">Information relative à la matière</th>
		            <th style="width: 20%;">format</th>
		            <th style="width: 20%;">Carte</th>
		            <th style="width: 15%;" class="actions">Supprimer</th>
		          </tr>
		        </thead>
		        <tbody class="no-border-x">
			          <tr>
			            <th>Nom</th>
			            <th>Prénom</th>
			            <th>Code</th>
			            <th>Couleur</th>
			            <th>Matière</th>
			            <th>Abréviation</th>
			            <th>-</th>
			            <th>-</th>
			          </tr>
	   	        	  {% for carte in cartes %}
			          <tr>
			        	{% for prof in profs %} 
			        	{% if prof.getId() == carte.getIdProfesseur() %}
				            <td>{{ prof.getNom() }}</td>
				            <td>{{ prof.getPrenom() }}</td>
				        {% endif %}
				        {% endfor %}
			            <td>{{ carte.getCouleur }}</td>
			            <td><div style="width: 90%; height: 20px;background: {{ carte.getCouleur }}"></div></td>
			        	{% for mat in mats %} 
			        	{% if mat.getId() == carte.getIdMatiere() %}
				            <td>{{ mat.getNom() }}</td>
				            <td>{{ carte.getAbreviation() }}</td>
				        {% endif %}
				        {% endfor %}
			        	{% for format in formats %} 
			        	{% if format.getId() == carte.getIdFormat() %}
				            <td>{{ format.getNomEdt() }}</td>
				        {% endif %}
				        {% endfor %}
			            <td>
	            		<div class="form-cards" id="carte-{{ carte.getId() }}">
							<span class="TextCard">{{ carte.getAbreviation() }}</span>
						</div>
			            </td>
			            <td class="actions"><a href="#" id="123" class="icon"><i class="mdi mdi-delete"></i></a></td>
			          </tr>
			        {% endfor %}
		        </tbody>
		      </table>
		  </div>
		</div>
	</div>
</div>

<div id="modal-wrapper" class="modal">
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
      <h1 style="text-align:center">ColorPicker</h1>
    </div>

    <div class="container">
    	{% for clr in colors %}
    	<div class="clr"><button type="button" ondblclick="getColor('{{ clr }}');" class="btn btn-space" style="background: {{ clr }}; width:100%; height:15px;"></button></div>
    	{% endfor %}
    </div>
  </form>
</div>
<script type="text/javascript">
var modal = document.getElementById('modal-wrapper');
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
function getColor($clr){
    document.getElementById('modal-wrapper').style.display = "none";
	document.getElementById('ColorPicker').style.background = $clr;
	document.getElementById('ColorPicker2').value = $clr;
}
</script>
{% endblock %}