{% extends '@EDT/EDT/layout.html.twig' %}
{% block body%}
<h3 class="page-title page-head-title">Charger un Emploi du temps</h3><br><br>
<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">Séléctionner la forme est charger votre emploi du temps</div>
        <div class="panel-body">
        <form action="{{ path('edt_charger_format') }}" method="post">
          <table class="table" style="text-align: center; height: 375px; display: inline-block; overflow: auto;">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Année Scolaire</th>
                <th>Nombre des jours par semaine</th>
                <th>Nombre des cours par jour</th>
                <th>Durée minimale d'un cours (min)</th>
                <th>premier cours à</th>
                <th>Début de l'année Scolaire</th>
                <th>Nombre des Semaine dans l'année Scolaire</th>
				        <th>Cycle</th>
                <th>lastActivity</th>
                <th>Radio</th>
              </tr>
            </thead>
            <tbody>
              {% set i=0 %}
            	{% for format in formats %}
              <tr>
                <td>{{ format.getNomEdt() }}</td>
                <td>{{ format.getAnneeScolaire() }}</td>
                <td>{{ format.getNbrJourParSemaine() }}</td>
                <td>{{ format.getNbrCoursParJour() }}</td>
                <td>{{ format.getMinDureeCours() }}</td>
                <td>{{ format.getPremierCoursEnHeure() }}H:{{ format.getPremierCoursEnMinute() }}min</td>
                <td>{{ format.getLastUpdate()|date('Y-m-d') }}</td>
                <td>{{ format.getNbrSemaine() }}</td>
                <td>{{ format.getCycle() }}</td>
                <td>{{ format.getLastUpdate()|date('Y-m-d') }}</td>
                <td class="Action">
                	<div class="be-radio be-radio-color inline">
                		{% if i == 0 %}
                          <input type="radio" checked="" name="sel" id="rad{{ format.getId() }}" value="{{ format.getId() }}">
                          {% set i=1 %}
                        {% else %}
                          <input type="radio" name="sel" id="rad{{ format.getId() }}" value="{{ format.getId() }}">
                        {% endif %}
                          <label for="rad{{ format.getId() }}"></label>
                    </div>
                </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary" style="float:right">Charger</button>
        </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}