<!DOCTYPE html>
<html>
<head>
	<title>Test Etablissment</title>
</head>
<body>
	<h2>{{ nom }} </h2>
	------------------------- 
	<h2>{{ nomAr }} </h2>
	-------------------------
	<h2>{{ adresse }} </h2>
	------------------------- 
	<h2>{{ adresseAr }} </h2>
	------------------------- 
	<h2>{{ ville }} </h2>
	------------------------- 
	<h2>{{ villeAr }} </h2>
	------------------------- 
	<h2>{{ tel }} </h2>
	------------------------- 
	<h2>{{ fax }} </h2>
	------------------------- 
	<h2>{{ site }} </h2>
	------------------------- 
	<h2>{{ email }} </h2>
	------------------------- 
	<h2>{{ academie }} </h2>
	------------------------- 
	<h2>{{ academieAr }} </h2>
	------------------------- 
	<h2>{{ NumAutorisation }} </h2>
	------------------------- 
	<h2>{{ identifiant }} </h2>
	------------------------- 
	<img src="{{ asset('assets/images/'~LogoEcole) }}">
	------------------------- 
	<img src="{{ asset('assets/images/'~LogoAcademie) }}">
	------------------------- 
	<h2>{{ nomDir }} </h2>
	------------------------- 
	<h2>{{ nomDirAr }} </h2>
	------------------------- 
	<h2>{{ prenomDir }} </h2>
	------------------------- 
	<h2>{{ prenomDirAr }} </h2>
	------------------------- 
	<img src="{{ asset('assets/images/'~FichierSignature) }}">
	------------------------- 
</body>
</html>