    {% extends 'base.html.twig' %}

{% block body %}

{% set c = 0 %}
{% set functions = [] %}
    <h1 class="well">résultat</h1>
   
                  <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">les classes</div>
                <div class="tab-container">
                  <ul class="nav nav-tabs">
                    {% set cls = 'active' %}
                    {% set exp = 'true' %}
                    {% for groupe in groupes %} 
                    <li class="{{ cls }}"><a href="#{{groupe['nom']}}" onclick="changeT({{groupe['id']}});"  data-toggle="tab" aria-expanded="{{ exp }}">{{groupe['nom']}}</a></li>
                    {% set cls = '' %}
                    {% set exp = 'false' %}
                    {% endfor %}

                    
                  </ul>
                  <div class="tab-content">
                    {% set cls = 'active' %}
                    
                      {% for groupe in groupes %}


                    <div id="{{groupe['nom']}}" class="tab-pane {{ cls }}" >
                      <div id='container{{groupe['id']}}' class="panel-body">
                  <form class='frm' method="post" action="{{path('save_resultat')}}" >
                    <input type="hidden"  name="classe"  value="{{groupe['id']}}">
                    <input type="hidden"  name="plane"  value="{{plan}}">
                    <input type="hidden"  name="classename"  value="{{groupe['nom']}}">




                 


                  <table id='t{{groupe['id']}}' class="table table-condensed table-hover table-bordered table-striped">
                    <thead>
                      <tr id='xxx'>
                        
                        <th style="width:5%;">etudiant</th>
                        
                        <th style="width:5%;">note</th>
                        {% for competance in competances %}
                        <th style="width:15%;">{{competance['nom']}}</th>
                        {% endfor %}
                        
                      </tr>
                    </thead>

                    <tbody>
                      {% set gid = groupe['id'] %}

<tr id='xxx'>
                      <td>Sélection globale</td>
                      <td><button  type='button' onclick='allNotes({{groupe['id']}})' class="btn btn-space btn-primary ">Renseigner<br>les compétences<br>à partir des notes.</button></td>
                      {% for competance in competances %}
                        <td class="text-right">
                          <p class="xs-mt-10 xs-mb-10">
                            {% set b = 0 %}
                          {% for appr in apprs %}

                    <button  type='button' name="{{b}}-{{groupe['id']}}-{{competance['id']}}" id="{{b}}-{{groupe['id']}}-{{competance['id']}}" onclick='make_borderA(this.id);'  class="btn btn-space btn-primary" style="background-color: {{appr['color']}}; border:none; " title='{{appr['appreciation']}} - {{appr['niveauAc']}}' >{{appr['lettre']}}</button>
                    <input type="hidden" id="{{groupe['id']}}-{{competance['id']}}" name="xzxzxz[]"  value="*">
                    {% set b = b+1 %}
                    {% endfor %}
                  </p></td>
                    {% endfor %}
</tr>
                      {% for etudiant in etudiants[gid] %}
                      {% set id_e = etudiant['id'] %}
                      <tr id='row{{etudiant['id']}}'>
                        
                        <td style="width:5%;" class="user-avatar cell-detail user-info"><img src="{{ asset('img/avatar6.png') }}" alt="Avatar"><span>{{etudiant['prenom']}} {{etudiant['nom']}}</span><span class="cell-detail-description">Developer</span>
                        <input type="hidden"  name="etd[]"  value="{{etudiant['id']}}">
                        </td>
                        
                        <td style="width:5%;" class="milestone" style="display:block;" ><div style="width:60%;" class="input-group xs-mb-5">
                          <input style="height:30px;" id='n{{etudiant['id']}}' name='n{{etudiant['id']}}' oninput="bar({{etudiant['id']}});" type="number" value="{% if resultats2[etudiant['id']] is defined %}{{resultats2[etudiant['id']]}}{% endif %}" class="form-control"><span class="input-group-btn">
                            <button  style="height:30px;" type="button" class="btn btn-primary">/ {{note}}</button></span>
                        </div>
                          <div class="progress">
                            <div id="b{{etudiant['id']}}" style="width: 0%" class="progress-bar progress-bar-primary"></div>
                          </div>
                        </td>
                        {% for competance in competances %}
                        <td class="text-right" id='com{{competance['id']}}'>
                          <p class="xs-mt-10 xs-mb-10">
                            {% set c = 0 %}
                          {% for appr in apprs %}
                            {% if resultats2[etudiant['id']] is defined %}
                            
                            {% if resultats[etudiant['id']~'-'~competance['id']].ap == appr['id'] %}
                            
                            {% set fc=c~"-e"~etudiant['id']~"-"~competance['id'] %}
                            {% set functions = functions|merge([fc]) %}


                            {% endif %}
                            {% endif %}

                    <button  type='button' name='{{c}}-{{groupe['id']}}-{{competance['id']}}' id="{{c}}-e{{etudiant['id']}}-{{competance['id']}}" onclick='make_border(this.id);'  class="btn btn-space btn-primary" style="background-color: {{appr['color']}}; border:none; " title='{{appr['appreciation']}} - {{appr['niveauAc']}}' >{{appr['lettre']}}</button>
                    {% set c = c+1 %}
                    {% endfor %}
                    <input type="hidden" id="e{{etudiant['id']}}-{{competance['id']}}" name="comp{{etudiant['id']}}[]"  value="*">
                  </p>
                        </td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                     
                      
                    </tbody>
                  </table>
                  
                  <button type='submit'  style='width:20%;' class="btn btn-space btn-success hover"><i class="icon icon-left mdi mdi-check"></i> Envoyer</button>
                </form>
                
                </div>
                    </div>
                    {% set cls = 'cont' %}

{% endfor %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script>
                     


                        var nvs = {
                          {% for appr in apprs %}
                          '{{appr['lettre']}}':{{appr['id']}},
                            {% endfor %}
                        }
                        var id='abcd';

                        var result ={'s' : '<div id="xxx" style="display:none"  role="alert"  class="alert alert-success alert-dismissible"><button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><span class="icon mdi mdi-check"></span><strong>Bien!</strong>  votre resultat pour classe a bien *cls* ajoute</div>','f' : '<div style="display:none" id="xxx"  role="alert" class="alert alert-danger alert-dismissible"><button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="mdi mdi-close"></span></button><span class="icon mdi mdi-close-circle-o"></span><strong>Attention!</strong> votre resultat pour classe *cls* n a pas bien ajouter redigez votre saisi</div>'};
                          





                      function make_borderA(id){

                        var elms=document.getElementsByName(id);
                        
                        for (var i=0;i < elms.length;i++){
                          make_border(elms[i].id);

                        }

                      }
                      function bar(id){
                          var n=document.getElementById('n'+id).value;
                          if({{note}}<n){
                            n={{note}};
                            document.getElementById('n'+id).value=n;
                          }
                          else if (0>n){
                              n=0;
                              document.getElementById('n'+id).value=n;

                          }
                          var w=(n/{{note}})*100;
                          
                          document.getElementById('b'+id).style.width=w+'%';


                      }

                       function make_border(id){
                        
                        var n_id=id.split("-");
                          for (var i = 0;i<{{c}}; i++) 
                            document.getElementById(i+'-'+n_id[1]+'-'+n_id[2]).style.border='none';
                          
                          document.getElementById(n_id[1]+'-'+n_id[2]).value=nvs[document.getElementById(id).innerHTML]+'*'+n_id[2];
                          document.getElementById(id).style.border='2px solid black';
                      }


                      $(document).ready(function () {
    $('.frm').on('submit', function(e) {
        e.preventDefault();
        //alert('done');
        $.ajax({
            url : $(this).attr('action') || window.location.pathname,
            type: "GET",
            data: $(this).serialize(),
            success: function (data) {
              
              response=data.split('*');

              $('#container'+response[1]).append(result[response[0]].replace('*cls*',response[2]).replace('xxx',id));
              document.getElementById(id).style.display=true;
        $("#"+id).animate({
            height: 'toggle'
        });
          id=id+'x';
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
});

{% set cc = 0 %}

              function allNotes(id){

                  var t = document.getElementById('t'+id);
                  var rows= t.rows;
                  for (var i = rows.length - 1; i >= 0; i--) {
                    var tds =rows[i].cells;
                    var id_r=rows[i].id;
                    if(id_r=='xxx')
                      continue;
                    var nn=document.getElementById('n'+id_r.split('w')[1]).value;
                    if(!nn)
                      continue;
                    var note = (nn/{{note}})*100;
                    var n=-1;
                    if(false){
                      n=-1;
                    }{% for appr in apprs %}
                    else if ({{appr['debutPourcentage']}} < note && {{appr['finPourcentage']}} >= note ){
                      n={{cc}};
                      {% set cc = cc+1 %}
                    }{% endfor %}
                    else continue;
                    for (var j = 0; j <tds.length; j++) {
                      if(tds[j].id.startsWith('com')){
                        make_border(n+'-e'+id_r.split('w')[1]+'-'+tds[j].id.split('m')[1]);
}}}}


{% for fun in functions %}
make_border('{{ fun }}');
{% endfor %}

                    </script>





                  </div>
                </div>
              </div>
            </div>
 
{% endblock %}